code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  @font-face {
    font-family: 'FredokaOne';
    src: url(/src/fonts/FredokaOne-Regular.ttf) format('truetype');
  }
  
  .WelcomePage {
    width: 100vw;
    height: 100vh;
    background-color: #FFC5BF;
  }

  .nameTitle{
    text-align: center;
    font-family: FredokaOne;
    font-size: 10vw;
    -webkit-text-stroke: 1px white;
    text-shadow: 2px 2px #000000;
  }

  .jobTitle {
    font-size: 8vw;
    letter-spacing: 4vw;
  }

  .InnerDiv {
    padding-top: 10vh;
  }

  @media (max-width: 768px) {
    .WelcomePage {
      background-color: tomato;
    }
  }