code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  @font-face {
    font-family: 'FredokaOne';
    src: local('FredokaOne'), url(./fonts/FredokaOne-Regular.ttf) format('truetype');
  }

  .WelcomePage {
    width: 100vw;
    height: 100vh;
    background-color: #FFC5BF;
  }

  .nameTitle{
    text-align: center;
    font-family: FredokaOne;
    font-size: 5rem;
  }